.tox .tox-edit-area::before {
  border-color: transparent !important;
}

.tox-tinymce {
  border: 3px solid transparent;
  transition:
    box-shadow 0.1s linear,
    border-color 0.1s linear;
  cursor: text !important;
}

.tox-tinymce.tox-edit-focus {
  border-color: var(--color-green-primary);
}

label[data-error='true'] ~ .tox-tinymce.tox-edit-focus {
  border-color: red;
}

.tox-tbtn {
  cursor: pointer !important;
}
